<div class="event">
  <div class="content">
    <div class="summary">
      <div class="post">
        <b><%= message.user.username %></b>:
        <%= message.body %>
        <small class="time">
          <%= message.created_at.strftime("%A, %H:%M") %>
        </small>
      </div>

    </div>
  </div>
</div>
