@import "semantic-ui";

.chatbox {
  height: 450px;
}

#messages {
  height: 15em;
  overflow: auto;
}

.input button {
    display: none;
}
.post {
  font-weight: 400;
  padding-bottom: 7px;
}

.time {
  float: right;
  font-weight: 200;
  color: grey;
}

.active-user {
  padding-left: 0.5rem;
  font-weight: 900;
  margin-right: 0.5rem;
}
